.corona-board{
    width: 70%;
    min-width: 800px;
    margin: auto;
}
/* 버튼 부분 */
.board-btn{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin:0 0 10px 0;
    font-size: 20px;
}
.board-btn >div:hover{
    color: skyblue;
    cursor: pointer;
}


#board_div{
    border: 2px solid black;
    border-collapse: collapse;
}
.new-statistic{
    color: red;
    font-size: 15px;
}
#board_div th{
    border: 1px solid black;
}
#border-div tr, td{
    border:1px solid gray;
}
.newdata{
    font-size: 15px;
    color: red;
}
/* 테이블 데이터 부분 */
#board-data{
    text-align: center;
    
}
