body {
  background: rgb(246, 243, 243);
}
header {
  background: #8b60e8;
}

.logo-group {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  padding-left: 18%;
  transition: 1s;
}
.logo-group .logo-img {
  width: 50px;
}
.logo-name {
  font-size: 30px;
  font-weight: 200;
  font-family: 'Gugi', sans-serif, monospace;
  color: #fff;
}

/* visual-content */
.visual-content .coutry-name {
  color: #fff;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 15px;
  transition: 1s;
  position: relative;
  z-index: 2;
}
.info-help{
  display: flex;
  justify-content: space-between;
}
.information-tab{
  display: flex;
  
  align-items: center;
}
.information-tab div{
  width: 3rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.chart-group {
  display: flex;
  max-width: 910px;
  justify-content:center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: auto;
}
.chart-group> div {
  min-width: 250px;
  width: 30%;
  height: 30vh;
  margin: 13px;
  color: #5733b5;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px rgba(236, 230, 230, 0.767);
  z-index: 2;
  flex-grow: 1;
}
.chart-group .chart1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
/* 코로나 통계 부분. */
.total, .new{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.total div:first-child, .new div:first-child{
  color: black;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}


/* 차트 2 백신접종률 */
.chart-group .chart2 {
  flex-grow: 3;
}

/* 환율 계산기 부분 */
.rate-comment{
  font-size: .2rem;
  color:tomato;

}
.calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:.7rem 0 0 0;
}
.exchange-rate> div:first-child{
  font-size: 18px;
  color: black;
}
.calculator > *{
 margin: .5rem 0 0 0; 
}
.calculator img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.exchangeto{
  width: 202px;
  height: 32px;
  border: 1px solid gray;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}
.exchangefrom{
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}




/* information-content */
.information-content{
  display: flex;
  flex-flow: column wrap;
  margin: 0 20px;
  max-width: 890px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px rgba(236, 230, 230, 0.767);
  margin-bottom: 25px;
}
.info-help {
  color: #8b60e8;
  padding: 0 10px 20px;
}

.category-title {
  background: #5733b5;
  color: #fff;
  padding: 5px 10px;
  padding-bottom: 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #3802ac;
  cursor: pointer;
}
.category-description {
  background: #fff;
  padding: 15px;
  margin-top: -1px;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 2px 2px rgba(236, 230, 230, 0.767);
  height: 0;
  visibility: hidden;
}
.category-description.look {
  height: 100%;
  visibility: visible;
  margin-bottom: 30px;
}
.tab{
  background-color: #8b60e8;
  color: white;
  border:1px black;
  border-radius: .5rem;
}


/* 댓글 */
.comment-position::before {
  content: "";
  background-color: #5733b5;
  width: 100vw;
  height: 18vh;
  position: absolute;
  z-index: 1;
  transition: .1s;
}
.comment-position{
  display: flex;
  width: 100vw;
  justify-content: center;
  transition: .5s;
}
#disqus_thread {
  align-self: flex-start;
  width: 50vh;
  height: 30vh;
  margin-left: 60px;
  margin-right: -250px;
  position: sticky;
  top: 280px;
  z-index: 2;
  background: #8b60e80a;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 2px rgba(236, 230, 230, 0.767);
  padding: 10px;
}



@media(max-width:1700px) {
  .logo-group {
    padding-left: 9%;
    transition: 1s;
  }

  .content-group {
    margin-left: 40px;
  }
  .visual-content .coutry-name {
    padding-left: 3%;
    transition: 1s;
  }
  #disqus_thread {
    margin-left: 0;
    margin-right: 20px;
  }
}

@media(max-width:1024px) {
  .logo-group {
    padding-left: 3%;
    transition: 1s;
  }
  .visual-content .coutry-name {
    padding-left: 6%;
    transition: 1s;
  }
  .information-content {
    margin: auto;
  }
  .chart-group::before {
    content: "";
    background-color: #5733b5;
    width: 100vw;
    height: 18vh;
    margin-top: -85px;
    position: absolute;
    transition: .1s;
  }

  .content-group {
    margin: 0;
  }

  .comment-position::before {
    opacity: 0;
  }
  .comment-position {
    flex-flow: column;

  }
  #disqus_thread {
    width: 85%;
    align-self: center;
    margin-top: 20px;
  }
}
