body {
  background: rgb(246, 243, 243);
}
header {
  background: #8b60e8;
}

.logo-group {
  display: inline-flex;
  padding: 20px;
  padding-left: 18%;
  transition: 1s;
}
.logo-group .logo-img {
  width: 50px;
}
.logo-name {
  font-size: 30px;
  font-weight: 200;
  font-family: 'Gugi', sans-serif, monospace;
  color: #fff;
  align-self: flex-end;
  padding-top: 16px;
}

/* content-position  */
.content-position::before {
  content: "";
  background-color: #5733b5;
  width: 100vw;
  height: 23vh;
  position: absolute;
  margin-top: -50px;
  z-index: 1;
  transition: .1s;
}
.content-position{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  transition: .5s;
}


/* visual-content */
.visual-content .coutry-name {
  color: #fff;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 15px;
  transition: 1s;
  position: relative;
  z-index: 2;
}
.chart-group {
  display: flex;
  max-width: 910px;
  justify-content:center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: auto;
}
.chart-group> div {
  min-width: 250px;
  margin: 8px;
  color: #5733b5;
  font-weight: bold;
  text-align: center;
  padding: 22px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px rgba(236, 230, 230, 0.767);
  z-index: 2;
  flex-grow: 1;
}
/* 코로나 통계, 안전점수 부분  */
.chart-group .chart1 {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 2;
  align-items: start;
}
.total, .new{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.total div:first-child, .new div:first-child{
  color: black;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}
.safe-point-group {
  max-width: 150px;
  position: relative;
}
.safe-point-group .safe-point-head{
  font-size: 18px;
  color: black;
  margin-bottom: -50px;
}
.safe-point-group .safe-point {
  font-size: 6rem;
  color: transparent;
  margin-bottom: -50px;
}
.tooltip{
  font-size: 13px;
  width: 305px;
  display: block;
  position: absolute;
  padding: 8px;
  top: -8.3rem;
  left:-6.3rem;
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: 5px 4px 0.5px 0.5px #d1a2e4;
  color: #474747;
  border-radius: 10px;
  text-align: left;
  transition: .5s;
}
.safe-point-group:hover .fa-info-circle {
  color: #d1a2e4;
}
.safe-point-group .safe-point.high {
  background: linear-gradient(to right top, #358d43, #98ecb1);
  -webkit-background-clip: text;
  background-clip: text;
}
.safe-point-group .safe-point.middle {
  background: linear-gradient(to right top, orange, #ffeccd);
  -webkit-background-clip: text;
  background-clip: text;
}
.safe-point-group .safe-point.low {
  background: linear-gradient(to right top, red, #fbccc8);
  -webkit-background-clip: text;
  background-clip: text;
}

/* 차트 2 백신접종률 */
.chart-group .chart2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 환율 계산기 부분 */
.rate-comment{
  font-size: .2rem;
  color:tomato;
}
.calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:.7rem 0 0 0;
}
.exchange-rate> div:first-child{
  font-size: 18px;
  color: black;
}
.calculator > *{
  margin: .5rem 0 0 0; 
}
.calculator img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.exchangeto{
  width: 202px;
  height: 32px;
  border: 1px solid gray;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}
.exchangefrom{
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
/* 대사관 부분 */
.embassy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5px;
  line-height: 2;
}
.embassy >div:first-child{
  color: black;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}
.embassydata{
  text-align: left;
  padding: 0 0 0 10px;
}
.embassydata > a:hover {
  color: #29c34a;
}

/* information-content */
.information-content{
  display: flex;
  flex-flow: column wrap;
  margin: 10px 20px;
  max-width: 890px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px rgba(236, 230, 230, 0.767);
  margin-bottom: 25px;
}
.info-help{
  display: flex;
  justify-content: space-between;
  color: #8b60e8;
  padding: 0 10px 20px;
}
.information-tab{
  display: flex;
  align-items: center;
}
.information-tab div{
  width: 3rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 1px 5px;
  background: #aa8ceb;
}
.information-tab .summary.tab{
  margin-right: 7px;
}
.information-tab .summary.tab.active{
  background: linear-gradient(to right top, #5733b5, #9d78fa);
}
.information-tab .allcontent.tab.active{
  background: linear-gradient(to right top, #5733b5, #9d78fa);
}

.category-title {
  background: #5733b5;
  color: #fff;
  padding: 5px 10px;
  padding-bottom: 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #3802ac;
  cursor: pointer;
}
.category-title .click-guide {
  padding-left: 87%;
  font-size: 20px;
  opacity: .6;
}
.category-description {
  background: #fff;
  padding: 15px;
  margin-top: -1px;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 2px 2px rgba(236, 230, 230, 0.767);
  height: 0;
  visibility: hidden;
}
.category-description.look {
  height: 100%;
  visibility: visible;
  margin-bottom: 30px;
}
.tab{
  background-color: #8b60e8;
  color: white;
  border:1px black;
  border-radius: .5rem;
}


/* 댓글 */
.comment-content {
  align-self: flex-start;
  max-width: 500px;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  margin-right: -280px;
  margin-top: 200px;
  z-index: 2;
  background: #8b60e836;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 2px rgba(236, 230, 230, 0.767);
  padding: 10px;

  display: flex;
  flex-direction: column;
}
.comment-menu {
  display: flex;
  padding: 10px;
}
.comment-menu .comment-count {
  font-weight: bold;
}
.comment-menu .comment-resent {
  margin-left: 80%;
  position: relative;
}
.comment-menu .comment-resent .fa-history{
  transition: transform 1s;
}
.comment-menu .comment-resent .fa-history.activity {
  color: #5733b5;
  transform: rotate(360deg) scale(1.5);
  transition: transform 1s;
}
.comment-menu .comment-resent:hover::after {
  content: "새댓글 확인";
  color: #8b60e8;
  position: absolute;
  top: -21px;
  right: -38px;
  width: 80px;
  font-weight: bolder;
  font-size: .8rem;
}
.comment-input-group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
}
.comment-input-group input, textarea {
  border: none;
  border-bottom:1px solid #fff;
  padding: 5px;
  background: #d2ccdd1f;
  padding-top: 10px;
}
.comment-input-group input:focus, textarea:focus{
  outline: none;
  border-bottom:1px solid #8b60e8;
}
.comment-input-group .input-comment {
  resize: none;
}
.comment-input-group.margin {
  margin-bottom: -10px;
}
.comment-input-group .btn-group {
  align-self: flex-end;
  padding-top: 10px;
}
.btn-group .btn {
  border-style: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #e2dee9;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
}
.btn-group .btn.btn-reset {
  background: rgb(252, 169, 169);
}
.btn-group .btn.btn-submit:disabled{
  cursor: default;
}
.btn-group .btn.btn-submit:enabled{
  background: #8b60e8;
}
.comment-list {
  padding: 20px;
  font-size: .9rem;
}
.comment-box {
  margin-bottom: 20px;
}
.box-head {
  padding-bottom: 3px;
}
.box-head .comment-nickname {
  font-weight: bolder;
}
.box-head .comment-period {
  color: #444;
  font-size: .8rem;
}
.box-btn-group {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.box-btn-group> button {
  margin-right: 10px;
  padding: 2px;
  background: rgba(0, 0, 0, 0);
  border: none;
}
.box-btn-group> button:hover {
  color: #5733b5;
  font-weight: bolder;
  cursor: pointer;
}
.read-plus-comment .show-comment {
  color: #5733b5;
  font-weight: bolder;
  font-size: .85rem;
  cursor: pointer;
}
.read-plus-comment .triangle{
  color: #5733b5;
  font-size: 10px;
  display: inline-block;
}
.read-plus-comment .triangle.rotate{
  transform: rotateX(180deg);
}

.read-plus-comment .plus-comment-list {
  padding: 0px 30px;
  margin-top: 10px;
}
.plus-comment-list> .comment-box {
  margin-bottom: 10px;
}

/********************** 미디어 쿼리 *************************************/

@media(max-width:1700px) {
  .logo-group {
    padding-left: 9%;
    transition: 1s;
  }

  .content-group {
    margin-left: 40px;
  }
  .visual-content .coutry-name {
    padding-left: 3%;
    transition: 1s;
  }
  .comment-content {
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 280px;
  }
  .content-position::before {
    height: 31vh;
    margin-top: -53px;
  }
}

@media(max-width:1500px) {
  .comment-content {
    max-width: 890px;
    margin-top: 0px;
    margin-right: -40px;
  }
}

@media(max-width:1024px) {
  .logo-group {
    padding-left: 3%;
    transition: 1s;
  }
  .visual-content .coutry-name {
    padding-left: 6%;
    transition: 1s;
  }
  .chart-group .chart1 {
    flex-wrap: wrap;
  }
  .chart-group .total {
    margin-right: 50px;
  }
  .chart-group::before {
    content: "";
    background-color: #5733b5;
    width: 100vw;
    height: 18vh;
    margin-top: -85px;
    position: absolute;
    transition: .1s;
  }
  .information-content {
    margin: 10px auto;
  }
  .category-title .click-guide {
    padding-left: 82%;
  }
  .content-group {
    margin-right: 40px;
    margin-top: -55px;
  }
  .content-position::before {
    opacity: 0;
    z-index: -1;
  }
  .content-position {
    flex-flow: column;
    max-width: none;
  }
  .comment-menu .comment-resent {
    margin-left: 90%;
  }
  .comment-content {
    max-width: 87%;
    align-self: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media(max-width:765px) {
  .content-group {
    margin-left: 0;
    margin-right: 0;
  }
  .chart-group .chart1 {
    padding: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .chart-group::before {
    height: 30vh;
  }
  .chart-group .chart1 .new {
    margin-bottom: 15px;
  }
  .chart-group .chart1 .total {
    margin-bottom: 15px;
    margin: auto;
  }
  .chart-group .chart1 .safe-point-group {
    margin-bottom: 15px;
  }
  .embassy {
    align-items: center;
  }
  .information-content {
    margin: 10px 13px;
    padding: 12px;
  }
  .info-help{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #8b60e8;
    padding: 0px
  }
  .info-help> div:first-child {
    width: 100%;
    text-align: center;
  }
  .information-tab{
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0;
  }
  .information-tab .tab {
    width: 47%;
  }
  .category-title .click-guide {
    padding-left: 55%;
  }
  .comment-content {
    max-width: 93%;
  }
  .comment-menu .comment-resent {
    margin-left: 70%;
  }
}