footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-width: 700px;
  max-width: 700px;
}
footer .footer-title {
  padding-left: 5px;
  font-size: 22px;
  font-weight: bolder;
}
footer .icon-group {
  display: flex;
  text-align: center;
  align-items: center;
}
footer .icon {
  font-size: 23px;
  padding: 5px 10px;
}
footer .icon.logo {
  width: 23px;
  height: 23px;
  box-sizing: unset;
}

footer .text-group {
  color: #888;
}