footer {
  padding-left: 500px;
  margin-bottom: 20px;
}
.footer-content{  
  display: flex;
  flex-flow: column;
  justify-content: center;
}
footer .footer-title {
  padding-left: 5px;
  font-size: 22px;
  font-weight: bolder;
}
footer img{
  width: 101px;
  height: 108px;
  display: inline-block;
}

footer .text-group {
  color: #888;
}

.footer-detail {
  margin-left: 50px;
}


@media(max-width:1024px) {
  footer {
    padding-left: 30px;
  }
}
@media(max-width:768px) {
  footer {
    padding-left:0;
  }
  footer .text-group> div:first-child{
    width: 250px;
  }
  .footer-detail {
    margin-left: 20px;
  }
  footer img{
    display: none;
  }
}