#map-container{
    width: 50%;
    margin: 10px auto 0 auto;
    position: relative;

}
.tabbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin:.5rem 0 1rem 0;
}
.tab{
    font-size: 1.2rem;
    cursor: pointer;
    color:black;
    font-weight: bold;
}
.tab:hover{
    color: skyblue;
}
.dropmenu {
    font-size: .9rem;
    cursor: pointer;
    position: absolute;
    z-index: 9;
    font-weight: 200;
    background-color: white;
}