#map-container{
    width: 50%;
    margin: 10px auto 0 auto;
    position: relative;

}
.tabbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin:.5rem 0 1rem 0;
}
.tab{
    font-size: 1.2rem;
    cursor: pointer;
    color:black;
    font-weight: bold;
}
.tab:hover{
    color: skyblue;
}
.dropmenu {
    font-size: .9rem;
    cursor: pointer;
    position: absolute;
    z-index: 9;
    font-weight: 200;
    background-color: rgba(255, 255, 255, 0.719);
}
.dropmenu > ul > li:hover {
    color: skyblue;
}
/* 맵 상단 알림과 검색창 */
.country-search{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}
.country-search > div:first-child{
    font-size: 20px;
    color: tomato;
}
.country-search input{
    width: 11rem;
    font-size: 18px;
    

}
.country-search button{
    font-size: 18px;
} 
.autocomplete{
    width: 11rem;
    position: absolute;
    background-color: black;
    z-index: 1000;
}
.autocomplete a{
    display: block;
    color: white;
}