a {
  text-decoration: none;
}

.ranking-head {
  text-align: center;
  padding: 30px;
  padding-bottom: 10px;
}
.ranking-head .sub-head {
  color: rgb(250, 194, 89);
}
.ranking-head {
  color: #212529;
  font-size: 2.5rem;
}


.ranking-body {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.ranking-body .ranking-box {
  margin: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px rgba(236, 230, 230, 0.349); 
}
.ranking-body .ranking-box> img {
  max-width: 250px;
  height: 150px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgba(236, 230, 230, 0.349);
}
.ranking-itmes{
  padding: 7px 20px;
  color: gray
  
}
.ranking-itmes> .star {
  font-size: 14px;
}
.fa-star {
  color: orange;
}
.ranking-itmes> .country-name {
  font-size: 20px;
  font-weight: bold;
  color: #212529;
}
.ranking-itmes> .point> b{
  color: lightseagreen;
}

.ranking-line {
  width: 80%;
  border-bottom: 1px solid rgba(236, 230, 230, 0.349);
  margin: 10px auto;
}

.ranking-info {
  padding: 0px 20px;
  color: gray;
  font-size: 13px;
}

.safe-point-description {
  color: gray;
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}

@media(max-width:1024px) {
  .ranking-body {
    width: 100%;
  }
  .ranking-body .ranking-box {
    height: 32vh;
  }
  .safe-point-description {
    padding: 20px
  }
}

@media(max-width:770px) {
  .ranking-body .ranking-box {
    margin-bottom: 10px;
    height: 110%;
  }
  
}