/* main페이지 top버튼 */
.scroll-top-btn {
  display: inline-block;
  position: sticky;
  position: -webkit-sticky;
  top:90%;
  left: 90%;
  cursor: pointer;
  z-index: 999;
  font-size: 2.5rem;
  font-family: 'Gugi', sans-serif, cursive;
  color: transparent;
  background: linear-gradient(to right top, #5a2ad4, #bfa6f5);
  -webkit-background-clip: text;
  background-clip: text;
}
/* detail페이지 top버튼 */
.scroll-top-btn-detail {
  display: inline-block;
  position: sticky;
  position: -webkit-sticky;
  top:90%;
  left: 90%;
  cursor: pointer;
  z-index: 999;
  font-size: 2.5rem;
  font-family: 'Gugi', sans-serif, cursive;
  color: transparent;
  background: linear-gradient(to right top, #5a2ad4, #bfa6f5);
  -webkit-background-clip: text;
  background-clip: text;
}
