*{
    padding :0px;
    margin:0px;
    box-sizing: border-box;
}
.hidden{
    display: none !important;
}
#map-container{
    width: 50%;
    margin: 10px auto 0 auto;
    position: relative;

}
#regions_div{
    position: relative;
}
.tabbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}
.tab{
    font-size: .7rem;
    cursor: pointer;
    color:tomato;
    font-weight: bold;
}