<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/detail.css">
    <title>Coalarm</title>
</head>
<body>
  <div class="body-container">
    <header>
      <div class="logo-group">
        <img class="logo-img" src="../static/img/mainlogo.png"></img>
        <div class="logo-name">Coalarm</div>
      </div>
    </header>

    <div class="content-group">

      <section class="visual-content">
        <div class="coutry-name">{{data['name']}}</div>
        <div class="chart-group">
          <div class="chart1">코로나 발생률 <br>누적 확진자 : {{data['corona']['total_confirmed']}}</div>
          <div class="chart2">백신 접종률 <br>1차접종률 : {{data['vaccine']['partly']}} <br>2차 접종률 : {{data['vaccine']['fully']}}</div>
          <div class="exchange-rate">환율<br> 원 : {{data['exchange'][1]}}<br> {{data['exchange'][0]}}</div>
        </div>
      </section>

      <section class="information-content">
        <div class="info-help">코로나 관련 <b>중요 정보</b>를 <b>Click</b>하여 확인해보세요.</div>
        <div class='inbound'></div>
        <div class="document"></div>
        <div class="isolate"></div>
        <div class="vias"></div>
      </section>

      <section class="country-board">
        게시판
      </section>

    </div>
  </div>  
  <script src="../static/js/detail.js"></script>
</body>
</html>