<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/detail.css">
    <title>Coalarm</title>
</head>
<body>
  <div class="body-container">
    <header>
      <div class="logo-group">
        <img class="logo-img" src="../static/img/mainlogo.png"></img>
        <div class="logo-name">Coalarm</div>
      </div>
    </header>
    <div class="comment-position">
      <div class="content-group">
        <section class="visual-content">
          <div class="coutry-name">{{data['name']}} <span class="flag"></span></div>
          <div class="chart-group">
            <div class="chart1">
              <div>
                누적 확진자 : <span class="total_confirmed">{{data['corona']['total_confirmed']}}</span>
                누적 사망자 : <span class="total_deaths">{{data['corona']['total_deaths']}}</span>
                누적 회복자 : <span class="total_recovered">{{data['corona']['total_recovered']}}</span>
                신규 확진자 : <span class="new_confirmed">{{data['corona']['new_confirmed']}}</span>
                신규 사망자 : <span class="new_deaths">{{data['corona']['new_deaths']}}</span>
                신규 회복자 : <span class="new_recovered">{{data['corona']['new_recovered']}}</span>
              </div>
              
            </div>
            <div class="chart2">백신 접종률 <br>1차접종률 : {{data['vaccine']['partly']}} <br>2차 접종률 : {{data['vaccine']['fully']}}</div>
            <div class="exchange-rate">환율<br> 원 : {{data['exchange'][1]}}<br> {{data['exchange'][0]}}</div>
          </div>
        </section>
        <section class="information-content">
          <div class="info-help">
            <div>
              코로나 관련 <b>요약 정보</b>별로 확인해보세요.<br>❗꼭 전체 정보를 확인하세요
            </div>
            <div class="information-tab">
              <div class="summary tab">요약</div>
              <div class="allcontent tab">전체</div>
            </div>
          </div>
      
          <div class="inbound category-group">
            <div class="category-title">입국관련</div>
            <div class="category-description">
              {% for i in data['notice']['inbound'] %}
              <p class='content'>{{i}}</p>
              {% endfor %}
            </div>
          </div>
          <div class="document category-group">
            <div class="category-title">필요서류</div>
            <div class="category-description">
              {% for i in data['notice']['document'] %}
              <p class='content'>{{i}}</p>
              {% endfor %}
            </div>
          </div>
          <div class="isolate category-group">
            <div class="category-title">격리관련</div>
            <div class="category-description">
              {% for i in data['notice']['isolate'] %}
              <p class='content'>{{i}}</p>
              {% endfor %}
            </div>
          </div>
          <div class="vias category-group">
            <div class="category-title">비자관련</div>
            <div class="category-description">
              {% for i in data['notice']['visa'] %}
              <p class='content'>{{i}}</p>
              {% endfor %}
            </div>
          </div>
          <div class="all category-group hidden">
            <div class="category-title">전체</div>
            <div class="category-description">
              {% for i in data['allnotice'] %}
              <p class='content'>{{i}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        </section>
        <div id="disqus_thread"></div>
      </div>

      <script>
          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://coalarm.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>
  </div>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  
  <script src="../static/js/detail.js"></script>
  <script src="../static/js/coronadata.js"></script>
</body>
</html>