<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src='../static/Modal.js'></script>
    <title>Document</title>
</head>
<body>
    <div id='map-container'>
        <div class="tabbar continent">
            <div class ='tab world'>전체</div>
            <div class ="tab Africa">아프리카</div>
            <div class ='tab Europe'>유럽</div>
            <div class ='tab Americas'>미대륙</div>
            <div class ='tab Asia'>아시아</div>
            <div class ='tab Oceania'>오세아니아</div>
        </div>
        <div class="tabbar continent hidden">
            <div class ='tab'>아프리카</div>
            <div class ='tab'>유럽</div>
            <div class ='tab'>미대륙</div>
            <div class ='tab'>아시아</div>
            <div class ='tab'>오세아니아</div>
        </div>
        <div class="tabbar continent hidden">
            <div class ='tab'>아프리카</div>
            <div class ='tab'>유럽</div>
            <div class ='tab'>미대륙</div>
            <div class ='tab'>아시아</div>
            <div class ='tab'>오세아니아</div>
        </div>
        <div class="tabbar continent hidden">
            <div class ='tab'>아프리카</div>
            <div class ='tab'>유럽</div>
            <div class ='tab'>미대륙</div>
            <div class ='tab'>아시아</div>
            <div class ='tab'>오세아니아</div>
        </div>
        <div class="tabbar continent hidden">
            <div class ='tab'>아프리카</div>
            <div class ='tab'>유럽</div>
            <div class ='tab'>미대륙</div>
            <div class ='tab'>아시아</div>
            <div class ='tab'>오세아니아</div>
        </div>
        <div id="regions_div" style="width: 100%; height: 100%;"></div>        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/map.js"></script>
</body>
</html>