<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/modal.css">
    
    <title>임시 모달 페이지</title>
  </head>

  <body>
    
    <div class="backgroundModal">
      <div class="modalBox">
        <div class="modalBtn">X</div>
        <div class="modalBody">
          <p class="modalContent">
            코로나19 확산의 영향으로 <b>특별여행주의보</b>가 발령 중입니다. <br/>
            해당 국가/지역 여행계획은 <b>취소</b>하거나 <b>연기</b>하여 주시기 바랍니다.
          </p>
          <p class="modalPeriod">
            현재있는 국가는 {{data['name']}} 입니다.
            현재국가의 원,{{data['exchange'][1]}}환율은 {{data['exchange'][0]}} 입니다.
          </p>
        </div>
      </div>
    </div>
    <h1>Hello, world!</h1>
    <script defer src="../static/js/modal.js"></script>
  </body>

</html>